body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: navy;
  text-shadow: 2px 2px orange;
  color: whitesmoke;
  border-radius: 0;
  border: 10px solid black;
}

.lead {
  font-style: italic;
  text-shadow: none;
}

.task {
  white-space: pre-wrap;
}

.hour-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed black;
}

.past {
  background-color: #7f7f7f;
  color: white;
}

.present {
  background-color: #0dff00bd;
  color: white;
}

.future {
  background-color: #00a2ffc7;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #a700a2;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: navy;
  text-shadow: 1px 1px orange;
  color: whitesmoke;
  text-align: center;
  margin-top: 25px;
  border: 10px solid black;
  border-radius: none;
}

.git-hub {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.githubicon {
  height: 3em;
  content: url(../images/GitHub.png);
  object-fit: contain;
  filter: invert(1);
  margin-bottom: 15px;
}

span {
  color: orange;
  text-shadow: 1px 1px whitesmoke;
}